*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;
  }
  
  body{
    background-image: linear-gradient(120deg,#106ec5,#c0249e);
    min-height: 100vh;
  }
  
  
  .container{
    max-width: 800px;
    margin: auto;
    padding: 10px;
  }
  
  .txtb{
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(87, 27, 197);
    background: none;
    padding: 10px;
    outline: none;
    font-size: 18px;
  }
  
  h3{
    margin: 10px 0;
  }
  
  .task{
    width: 100%;
    background: rgba(148, 34, 34, 0.5);
    padding: 18px;
    margin: 6px 0;
    overflow: hidden;
  }
  
  .task i{
    float: right;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .comp .task{
    background: rgba(61, 223, 75, 0.5);
    color: rgb(38, 212, 224);
  }
  